<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Barrington Atlas Bibliography: {{ letter }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="css/style.css">
  <!-- end CSS-->

  <script src="js/libs/modernizr-2.0.6.min.js"></script>

  <link rel="alternate" type="text/turtle" href="${mapnum}.ttl">

</head>

<body>

  <div id="container">
    <header>

    </header>
    <div id="main" role="main">
    <h1>Barrington Atlas Bibliography: {{ letter }}</h1>
    <p>Last modified: {{ modified }}.</p>
    <p>Code and bibliographic data on GitHub: <a href="http://github.com/isawnyu/babibl-web">http://github.com/isawnyu/babibl-web</a>.
    <p>Name index: 
    {% for char in keys %}
    <a href="{{ char }}.html">{{ char }}</a>
    {% endfor %}
    </p>
    <hr/>
    <ul class="bibl">
    {% for key, long, shorts in items %}
      <li>
      {% for short in shorts %}
      <a name="{{ short }}"></a>
      {% endfor %}
      {% set query = "+OR+".join(shorts) %}
      <span class="label-cite">{{ key }}</span> <a href="http://pleiades.stoa.org/search?Cites={{ query }}" alt="Search Pleiades for {{ query }}"><img src="img/icon-12.png" height="12" width="12"/></a>&mdash;
      <span class="long-cite">{{ long }}</span>
      </li>
    {% endfor %}
    </ul>
    </div>
    <footer>
    </footer>
  </div> <!--! end of #container -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="js/plugins.js"></script>
  <script defer src="js/script.js"></script>
  <!-- end scripts-->


  <script> // Change UA-XXXXX-X to be your site's ID
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
